* {
    background-color: whitesmoke;
    font-family: Leelawadee UI;
}

canvas {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 0;
    border: 1px solid #030081;
    border-radius: 2.5px;
    background-color: #ffffff;
    z-index: 2;
}

div.game-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.game-container div.instruction {
    float: left;
    width: 15%;
    height: 100%;
}

div.game-container div.instruction div.spacer {
    float: left;
    width: 100%;
    height: 40%;
}

div.game-container div.instruction div.controls {
    float: left;
    width: 100%;
    height: 20%;
}

ul {
    list-style: none;
}

div.game-container div.game {
    float: left;
    width: 70%;
    height:100%;
}

div.game-container div.game div.title-spacer {
    float: left;
    width: 100%;
    height: 80vh;
}

div.game-container div.game div.title {
    float: left;
    width: 100%;
    height: 20vh;
}

div.game-container div.game div.title h1 {
    position: relative;
    height: 5vh;
    top: 10vh;
    text-align: center;
    font-family: Leelawadee UI;
}